@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.company {
  height: 100vh;
  padding: 100px 20px;
  background: linear-gradient(0deg, rgba(189,195,199,1) 0%, rgba(44,62,80,1) 100%);
  background-color: #212629;
  color: #FFF;
}

.company > h1 {
  font-size: 46px;
}

.invoices {
  padding: 100px 20px 100px 100px !important;
}

.pending-title {
  margin-bottom: 75px;
}

.pending-title > h3 {
  font-size: 36px;
}

/*
 * MEDIA QUERY
 */

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

  .company {
    height: auto;
    padding: 20px;
    background: linear-gradient(0deg, rgba(189,195,199,1) -75%, rgba(44,62,80,1) 100%);
  }

  .company > h1 {
    font-size: 38px;
    margin-bottom: 0;
  }

  .invoices {
    padding: 50px 20px !important;
  }

  .pending-title {
    margin-bottom: 50px;
  }
  
  .pending-title > h3 {
    font-size: 26px;
  }
}